#
#   +--------------------------------------------+
#   |  IDEs & platform ballast                   |
#   +--------------------------------------------+
#
.idea


#
#   +--------------------------------------------+
#   |  Vendor & Composer stuff                   |
#   +--------------------------------------------+
#
vendor/*
composer.lock


#
#   +--------------------------------------------+
#   |  Build & test artefacts                    |
#   +--------------------------------------------+
#
tests/output/*
!tests/output/.gitkeep
